@font-face{
	font-family: poppin;
	src:local('Poppins-Medium'),url(../font/Poppins-Medium.ttf) format('woff');
}

@font-face{
	font-family: manrope;
	src:local('manrope'),url(../font/manrope.ttf) format('woff');
}

@font-face{
	font-family: Pyidaungsu;
	src:local('Pyidaungsu'),url(../font/Pyidaungsu.ttf);
}

@font-face{
	font-family: argon;
	src:local('argon'),url(../font/argon.ttf);
}

@font-face{
	font-family: hopong;
	src:local('hopong'),url(../font/hopongv1.ttf);
}

:root{

  
      --primarycolor: #004f6e;
      
      --secondarycolor: #bce7fb;


      --box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
                          rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
                            rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      --box-shadow-inset: inset 5px 5px 10px #96c0d9,
      inset -5px -5px 10px #caffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'manrope','argon','poppin','Pyidaungsu',sans-serif;
    user-select: none;
}

body{
  background: #eee;
}
.bg-primarys{
  background: var(--primarycolor);
}

.btn-primarys{
  background: var(--primarycolor);
}

.btn-secondarys{
  background: var(--secondarycolor);
}

.text-primarys{
  color: var(--primarycolor);
}

.text-secondary{
  color: var(--secondarycolor);
}


.navbar{
  /* background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)); */
  background: var(--primarycolor);
  padding: 10px 00px;
  
  transition: all 0.7s;
}

.navbar-toggler:focus{
   box-shadow: none;
   outline: 0;
   text-decoration: none;
}

.displayfixer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.barndcontainer{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url('../img/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.brandtext{
  color: #fff;
}

.navmenus{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
  padding: 10px 5px;
}

.menuitems{
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;

  transition: color 0.5s;
}

.menuitems:hover{
  color: #1a99e8;
}

.lines1,.lines2,.lines3{
  width: 23px;
  height: 3px;
  margin: 5px;

  transition: all 0.3s;
}

.changes .lines1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.changes .lines2{
  opacity: 0;
}

.changes .lines3{
  transform: rotate(45deg) translate(-5px,-6px);
}
/* End Navbar  */

/* Start Banner  */
.banners{
 width: 85%;

 position: absolute;
 top: 50%;
 left: 50%;

 transform: translate(-50%,-50%);
}

.bannerheaders{
  animation-name: bnani;
  animation-duration: 2s;
}

.bannerparagraphs{
  animation-name: bnani;
  animation-duration: 2s;
  animation-delay: 0.5s;

  animation-fill-mode: backwards;
}

@keyframes bnani{
  0%{
      transform: translateX(-100px);
      opacity: 0;
  }

  100%{
      transform: translateX(0);
      opacity: 1;
  }
}
/* End Banner  */


/* End Header  */

/* Start Content  */

.contentboxescontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contentboxes{
  background-color: red;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* End Content  */

/* Start Logo Section  */

.logocontainers{
  overflow-x: auto;
  overflow-x: hidden;
  color: white;
}

/* End Logo Section  */

/* Start Search Courses Section  */

.searchbox{
  width: 300px;
  padding-left: 30px;
}

.searchdiv{
  position: relative;
}

.searchicon{
  position: absolute;
  top: 30%;
  left: 5%;


}

.benifiticons{
  font-size: 40px;

}

/* End Search Courses Section  */

/* Start Popular course Section  */

.badge{
  text-align: start;
  line-height: auto;
}


/* End Popular Course Section  */

/* Start Footer Section  */

.footerlinks{
  font-size: 13px;
  color: #eee;
  text-decoration: none;

  transition: all 0.3s;
  
}

.footerlinks:hover{
  color: #15a0eb;
}

/* End Footer Section  */